.Loader {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Spinner {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.Spinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #000000;
    animation: prixClipFix 2s linear infinite;
}