.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
}

.Sandwiches {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.Sandwich {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    gap: 5px;
    background-color: #044312;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}