nav {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.NavItem {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
} 