.Post {
    background-color: lightgray;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    gap: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px lightgrey;
}

.PostTitle {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.PostUser {
    color: black;
}