nav {
    background-color: #385b38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
}

.NavItems {
    display: flex;
    gap: 200px;
}

@media (max-width: 768px) {
    .NavItems {
        gap: 20px;
    }
}

.NavItem {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}